<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    var username;
    var headimg;
    var disable;
    var wgateidTag;
        (function() {
            WgateJs = {};
            WgateJs.auto_auth=true;
            WgateJs.gate_options={force:1,info:"none"};
            WgateJs.ready=function(){
                var wgateid=WgateJs.getWgateid();
                wgateidTag = wgateid;
                //WgateJs.getWgateUser(function(user){alert(user)});
                //alert(wgateid);
                $.post('/login.lol',JSON.stringify({user_id: wgateid,game_token:1}),function(data){
                    if(data.isexist){
                        username = data.user_name;
                        headimg = data.head_image;
				        //alert(username);
                        document.getElementById('headimg').src=headimg;
			    document.getElementById('name').innerText = username;
                            disable = data.disable;
                    }else{
                        WgateJs.getWgateUser(function(user){
                    if(user==null)
                        window.location.href = "http://www.weixingate.com/gate.php?back=http://scut.win/views/second.html&force=1&info=force";
                    document.getElementById('headimg').src=user.headimgurl;
                    document.getElementById('name').innerText = user.nickname;
                    $.post('/create_user.lol',JSON.stringify({user_id: wgateid,game_token:1,user_name:user.nickname,head_image:user.headimgurl}),function(data){
                        //if(data)
                    })
                })
                    }
                })
                //WgateJs.getWgateUser(function(user){console.info(user);alert(user)});
                //createUser();
            }
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://st.weixingate.com/";
            u=u+'st/1947';//注意每个site这里的数字不一样
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u; s.parentNode.insertBefore(g,s);
        })();
    /*
        function createUser(){
           // alert("createUser()");
        WgateJs = {};
            WgateJs.auto_auth=true;
            WgateJs.gate_options={force:1,info:"force"};
            WgateJs.ready=function(){
                wgateid=WgateJs.getWgateid();
                WgateJs.getWgateUser(function(user){
                    if(user==null)
                        alert("null")
                       //window.location.href = "http://www.weixingate.com/gate.php?back=http://scut.win/views/second.html&force=1&info=force";
                    document.getElementById('headimg').src=user.headimgurl;
                    document.getElementById('name').innerText = user.nickname;
                    $.post('/create_user.lol',JSON.stringify({user_id: wgateid,game_token:1,user_name:user.nickname,head_image:user.headimgurl}),function(data){
                        //if(data)
                    })
                })

            }
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://st.weixingate.com/";
            u=u+'st/1947';//注意每个site这里的数字不一样
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u; s.parentNode.insertBefore(g,s);
    }   */
    function upScore(){
        var score = document.getElementById('score').value;
        $.post('/upload_score.lol',JSON.stringify({user_id:wgateidTag,game_token:1,score:score}),function(data){
            if(data.success){
                alert('提交成功！');
            }else{
                alert('提交失败！');
            }
        })
    }
    function getRanklist(){
        alert('1111');
        $.get('/get_rank.lol',{user_id:wgateidTag,game_token:1},function(data){
            for(o in data){
                $('<div>'+o.user_name+'===='+o.rank+'</div>').insertAfter('#rankList');
            }
        })
    }
    </script>
</head>
<body>
this is the second Page: <span id="name"></span>
<img id='headimg'/>
<br>
<input style="height=30px;width=60px" type="text" id="score" />
<button onclick="upScore()">提交</button>
<button onclick="getRanklist()">排行榜</button>
<div>
    <div id='rankList'>排行榜：</div>

</div>
</body>
<script>
    /*var username;
    var headimg;
    var disable;
    $(document).ready(function () {
                document.getElementsByTagName('body')[0].innerHTML += window.location.href.toString();
                //alert(window.location.href);
                //var wgateid = GetQueryString("wgateid");
                var wgateid = "oXQ7gt9aM1hynR6j6J1Hp5PTB9EQ";
                $.post('login.lol', {wgateid: wgateid}, function (data) {
                    if (data == null) {
                        alert('server error!');
                    } else {
                        if (data.isexist) {
                            username = data.username;
                            headimg = data.headimage;
                            disable = data.disable;
                        } else {
                            window.location.href = "http://www.weixingate.com/gate.php?back=http://192.168.31.145;3000/third&force=1&info=force"
                        }
                    }
                })
            }
    )*/
</script>
</html>
