<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/report.css">
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-right :0px;padding-left: 0px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 30px; ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style=" color:#432f31; font-size:25px; font-weight:bold;">周报系统管理平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="background: #27d5ff;padding-right: 0px;padding-left: 0px;">
            <ul class="nav navbar-nav navbar-right" style="color: #101010 ;padding-right: 30px;padding-left: 0px;">
                <li class="active"><a href="/adminMainpages">查看周报</a></li>
                <li><a href="/userManager">用户管理</a></li>
                <li><a href="/loginout">登出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div style="text-align:center;margin-left: 1.5%;">
    <div style="display: flex">
    <row>
        <h4 style="float:left">选择审批日期:</h4>

        <div class="input-append date form_datetime" style="width: 400px;float:left;">
            <input id="datepicker" name="timeSelect" size="16" type="text" style="width: 300px;opacity:0.8;"
                   onmouseover="this.className='bd'" onmouseout="this.className=''" readonly>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </row>
    <div style="width: auto;">
        <button class="btn btn-info btn-lg" style="" onclick="upDate();">查看提交情况</button>
    </div>
    </div>
    <div style="margin-left: 2%;display: flex">
        <h3>部门:</h3>
        <h3 id="depart"><%= depart %></h3>
    </div>

</div>
<br>
<br>

<div style="width:95%;height:120px;margin-left: 1.5%;border:1px  solid #cecece;margin-right: 3.5%">
    <h4 style="padding-left: 10px">本周已经提交:</h4>

    <div id="havaSubmit">
    </div>
</div>
<br>

<div style="width:95%;height:120px;margin-left: 1.5%;border:1px  solid #cecece;margin-right: 3.5%">
    <h4 style="padding-left: 10px">本周未提交:</h4>

    <div id="noSubmit" style="color: rgba(22, 22, 22, 0.79);font-size: 20px">

    </div>
</div>
<br>

<div>
    <div style="width:95%;height:120px;margin-left: 1.5%;border:1px  solid #cecece;margin-right: 3.5%">
        <h4 style="padding-left: 10px">本周未审批:</h4>

        <div id="noComment" style="color: #cc110f">

        </div>
    </div>

</div>


<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.js"></script>
<script src="/javascripts/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-select.js"></script>
<script>
    window.onload = function () {
        var now = new Date();
        var month = parseInt(now.getMonth()) + 1;
        if(month<10) month = '0' + month;
        var day = parseInt(now.getDate());
        if(day<10)  day = '0' + day;
        now = now.getFullYear() + '-' + month+ '-' + day;
        document.getElementById('datepicker').setAttribute('value',now);
        upDate();
    }

</script>

<script>
    $(document).ready(function () {
        $('#selectpicker').selectpicker();
        //$(".form_datetime").datepicker({
        //  viewMode: 'years'
        //});
        $("#datepicker").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            minView: 'year',
            autoclose: true,
            todayHighlight: true,
            todayBtn: true
        });

        $('.input-daterange input').each(function () {
            $(this).datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                //viewSelect : 'hour',
                minView: 'year',
                autoclose: true,
                todayHighlight: true,
                todayBtn: true
            });
        });
    });

    $.document().ready(function(){

    })

</script>
<script>
    function upDate() {
        var timeSe = document.getElementById('datepicker').value;
        var root = document.getElementById('haveSubmit');
        var depart = document.getElementById('depart').innerText;
        $.post('/getReportdad', {timeSelect: timeSe,depart: depart}, function (data) {
            var dlength = data.length;
            var ulroot = document.createElement('ul');
            ulroot.class = "list-group";
            for (var i = 0; i < dlength; i++) {
                var temp = document.createElement('a');
                temp.innerText = data[i];
                temp.value = data[i];
                temp.href = '/getDetailu?username=' + data[i] + '&&timeSelected=' + timeSe;
                temp.style.size = '20';
                temp.style.fontSize = '20px';
                temp.style.color = 'blue';
                temp.title = "Smiley face";
                //divroot.appendChild(temp);

                var templi = document.createElement('div');
                templi.class = "list-group-item";
                templi.style.float = 'left';
                templi.style.paddingLeft = '20px'
                templi.appendChild(temp);
                ulroot.appendChild(templi);
            }
            document.getElementById('havaSubmit').innerHTML = '';
            document.getElementById('havaSubmit').appendChild(ulroot);
            //document.getElementById('havaSubmit').child
            $.get('/getAllUser',{depart :depart}, function (data2) {
                var a = [], diff = [];
                for (var i = 0; i < data.length; i++)
                    a[data[i]] = true;
                for (var i = 0; i < data2.length; i++)
                    if (a[data2[i]]) delete a[data2[i]];
                    else a[data2[i]] = true;
                for (var k in a)
                    diff.push(k);
                var rootNoSubmit = document.getElementById('noSubmit');
                var diffLength = diff.length;
                var noSubmitStr = '    ';
                for (var i = 0; i < diffLength; i++) {
                    noSubmitStr = noSubmitStr + diff[i] + ', ';
                }
                rootNoSubmit.innerHTML = noSubmitStr;

                $.get('/getNoC', {timeSelect: timeSe,depart: depart}, function (data3) {
                    var dlength = data3.length;
                    var ulroot = document.createElement('ul');
                    ulroot.class = "list-group";
                    for (var i = 0; i < dlength; i++) {
                        var temp = document.createElement('a');
                        temp.innerText = data3[i];
                        temp.value = data3[i];
                        temp.href = '/getDetailu?username=' + data3[i] + '&&timeSelected=' + timeSe;
                        temp.style.size = '20';
                        temp.style.fontSize = '20px';
                        temp.style.color = 'blank';
                        temp.title = "Smiley face";
                        //divroot.appendChild(temp);

                        var templi = document.createElement('div');
                        templi.class = "list-group-item";
                        templi.style.float = 'left';
                        templi.style.paddingLeft = '20px'
                        templi.appendChild(temp);
                        ulroot.appendChild(templi);
                    }
                    document.getElementById('noComment').innerHTML = '';
                    document.getElementById('noComment').appendChild(ulroot);


                });
            });

        })
    }
    function isRead() {

    }
    function jumpDetail(reportId) {
        $.post('/getDetail', {
            id: reportId
        }, function (data) {
            var rpdiv1 = document.createElement('div');
            var rpdiv2 = document.createElement('div');
            var rpp11 = document.createElement('div');
            rpp11.innerText = '本周总结:';
            rpp11.style.fontWeight = 'bold';
            rpp11.style.fontSize = 'larger'
            var rpp1 = document.createElement('p');
            rpp1.innerText = data.text;
            rpdiv2.appendChild(rpp11);
            rpdiv2.appendChild(rpp1);
            var rpdiv3 = document.createElement('div');
            var rpp21 = document.createElement('p');
            rpp21.style.fontWeight = 'bold';
            rpp21.style.fontSize = 'larger'
            rpp21.innerText = '本周计划:';
            var rpp2 = document.createElement('p');
            rpp2.innerText = data.text2;
            rpdiv3.appendChild(rpp21);
            rpdiv3.appendChild(rpp2);
            var rpdiv4 = document.createElement('div');
            var rpp31 = document.createElement('p');
            rpp31.innerText = '存在问题:';
            var rpp3 = document.createElement('p');
            rpp31.style.fontWeight = 'bold';
            rpp31.style.fontSize = 'larger'
            rpp3.innerText = data.text3;
            rpdiv4.appendChild(rpp31);
            rpdiv4.appendChild(rpp3);
            rpdiv1.appendChild(rpdiv2);
            rpdiv1.appendChild(rpdiv3);
            rpdiv1.appendChild(rpdiv4);
            document.getElementById('root').innerHTML = '';
            document.getElementById('root').appendChild(rpdiv1);
            //$('#root').appendChild(rpdiv1);
            //console.log($('#root').innerHTML.toString());
        })
        //alert(id);
    }
</script>
</body>
</html>