<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/datapicker.css">
    <link rel="stylesheet" href="/stylesheets/report.css">
    <script src="/javascripts/bootstrap-datepicker.js"/>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-right :0px;padding-left: 0px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 30px; ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style=" color:#432f31; font-size:25px; font-weight:bold;">周报周报</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="background: #27d5ff;padding-right: 0px;padding-left: 0px;">
            <ul class="nav navbar-nav navbar-right" style="color: #101010 ;padding-right: 30px;padding-left: 0px;">
                <li class="active"><a href="#">编写周报 <span class="sr-only">(current)</span></a></li>
                <li><a href="/myReport">我的周报</a></li>
                <li><a href="/loginout">登出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div style="text-align:center;width: 100%;">
    <div id="reportbody"
         style="border-style:solid;border-color:#BBBBBB;border-radius:8px 8px 8px 8px;border-width: 1px;">
        <h3 id='dateNow'>编辑周报</h3>

        <div>
            <form id="formReport" action="/addReport" method="post">


                <div class="form-group" style="text-align:center;">
                    <p>本周总结</p>
            <textarea id="sum" class="input-small" cols="100" name="reportMsg" rows="5" id="msg0" onfocus="iCc(this)"
                      style="color: rgb(51, 51, 51);"></textarea>
                </div>
                <div class="form-group" style="text-align:center;">
                    <p>下周计划</p>
            <textarea id="plan" cols="100" name="reportMsg2" rows="5" id="msg0" onfocus="iCc(this)"
                      style="color: rgb(51, 51, 51);"></textarea>
                </div>
                <div class="form-group" style="text-align:center;">
                    <p>存在问题</p>
            <textarea id="problem" cols="100" name="reportMsg3" rows="5" id="msg0" onfocus="iCc(this)"
                      style="color: rgb(51, 51, 51);"></textarea>
                </div>

                <div style="text-align:center;">
                    <button type="button" onclick="addReport();" class="btn btn-info btn-lg">提交</button>

                    <button type="button" onclick="saveReport();" class="btn btn-info btn-lg">保存</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<script>
    function addReport() {
        var sum = document.getElementById('sum').value;
        var plan = document.getElementById('plan').value;
        if (sum == "") {
            alert('总结不能为空！');
            return;
        } else if (plan == "") {
            alert('计划不能为空！');
            return;
        } else {
            document.getElementById('formReport').submit();
        }
    }
    function saveReport() {
        var text1 = document.getElementById('sum').value;
        var text2 = document.getElementById('plan').value;
        var text3 = document.getElementById('problem').value;
        if (text1 == "") {
            alert("总结不能为空! ");
        } else if (text2 == "") {
            alert("计划不能为空! ");
        } else {
            $.post('/saveReport',
                    {
                        text1: text1,
                        text2: text2,
                        text3: text3
                    },
                    function (data) {
                        $('html').html(data)
                    })
        }
    }


</script>

</body>
</html>